*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
@font-face {
  font-family: "Didot";
  src: url('font/ufonts.com_didotlh-romanosf-opentype.otf');
}
html{
  background-color: rgb(67, 70, 84);
}
body{
  background-image: linear-gradient(rgba(245, 242, 226, 0.7),rgba(245, 242, 226, 0.7)), url('../img/texture-bg.png');
}
.body{
  height: auto;
}

/* HEADER */

.header{
  display: flex;
  height: 15vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}
/* LOGO */
.logo-box{
  height: 10vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* MENU */
.menu{
  width: 60vw;
  display: flex;
  position: relative;
  bottom: 10px;
}
.menu-list{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-list a{
  color: rgb(131, 130, 116);
  font-size: 1.7vw;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  font-family:'Quicksand', sans-serif;
  position: relative;
  text-align: center;
}
.menu-list a:hover{
  border-bottom: 1px solid rgb(131, 130, 116);
}
/* SOULIGNE CET PAGE */
.menu-list li:nth-child(4) a{
  border-bottom: 1px solid rgb(131, 130, 116);
}


/* BODY */
.body{
  display: flex;
  justify-content: space-around;
}
.container{
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  height: 80vh;
  background-color: white;

}
.container iframe {
  width: 65vw;
  height: 70vh;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.38);

}
/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 70, 84);
  margin-top: 50px;
}
.footer-infos{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px;
}
.footer-infos h3{
  color: rgb(131, 130, 116);
  font-weight: 300;
  padding-top: 10px;
}
.footer-logo{
  padding: 40px 30px;
}
@media (max-width: 900px) {
  .header{
    flex-direction: column;
    align-items: center;
  }
  .menu{
    position: static;
  }
}
