@import url("header.css");
@import url("footer.css");

/* SOULIGNE CET PAGE */
.menu-list li:nth-child(2) a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/* CHAMBRES */
.les-chambres{
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.chambre{
  width: 90vw;
  height: 40vw;
  margin: 1vw 0;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(120, 120, 120, 0.34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*INFOS CHAMBRE*/

.infos-chambre{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  top: -12vw;
}
/* NOM CHAMBRES */
.chambre h1{
  /*padding: 10px 70px;*/
  color: white;
  font-weight: 300;
  font-size: 50px;
  text-shadow: 0 0 5px rgba(154, 154, 154, 0.58);
}
.chambre h2{
  /*padding: 20px 70px 40px 70px;*/
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(154, 154, 154, 0.58);
}
.aurore{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

/* PHOTOS CHAMBRE */

.bandeau-chambre{
  width: 90vw;
  height: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.bandeau-chambre img{
  width: 100%;
  height: auto;
  position: absolute;
  top: -25vw;
}




/*.photo-box{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  max-height: 25vw;
  opacity: 1;
  transition: opacity 2s ease, max-height 2s ease;
  -webkit-transition: opacity 2s ease, max-height 2s ease;
  -moz-transition: opacity 2s ease, max-height 2s ease;
  -ms-transition: opacity 2s ease, max-height 2s ease;
  -o-transition: opacity 2s ease, max-height 2s ease;
}
.square-photo{
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
  margin: 2vw;;
  cursor: zoom-in;
}
.portrait{
  max-height: 30vw;
}
.img-zoom{
  max-height: 100vh;
  max-width: 100vw;
  z-index: 100;
}
.landscape{
  max-height: 25vw;
}
.rotate{
  transform: rotate(180deg);
  position: static;
}
.shown{
  max-height: 2200px;
  opacity: 1;
}
.zoom{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(129, 129, 129, 0.53);
  margin: 0;
  top: 0;
}

.row img{
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
  margin: 20px;
}*/

/* VOIR PLUS */
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.button{
  width: 100%;
  padding: 20px 0;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  box-shadow:0px -4px 7px rgba(214, 212, 212, 0.3);
  cursor: pointer;
}

.button a{
  color: rgb(193, 194, 193);
  font-weight: 300;
  text-decoration: none;
}
.btn-reserver{
  position: absolute;
  right: 0;
  margin-right: 8vw;
}



@media (max-width: 900px ){
  .row{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu{
    position: static;
    width: 80vw;
  }
}
@media (max-width: 700px) {
  .chambre h1{
    text-align: center;
  }
  .chambre h2{
    text-align: center;

  }
}
