@import url("header.css");
@import url("footer.css");

/* SOULIGNE CET PAGE */
.menu-list li:nth-child(2) a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/* CHAMBRES */
.les-chambres{
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.chambre{
  width: 90vw;
  height: 40vw;
  margin: 1vw 0;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(120, 120, 120, 0.34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.braque{
  background: url("../photos/chambres/chambre4/DSCN6784.JPG");
  background-position:  bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.chagall{
  background: url("../photos/chambres/chambre3/IMG_2176.JPG");
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cezanne{
  background: url("../photos/chambres/chambre1/FullSizeRender (004).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*INFOS CHAMBRE*/

.infos-chambre{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  top: -12vw;
}
/* NOM CHAMBRES */
.chambre h1{
  /*padding: 10px 70px;*/
  color: white;
  font-weight: 300;
  font-size: 50px;
  text-shadow: 0 0 5px rgba(154, 154, 154, 0.58);
}
.chambre h2{
  /*padding: 20px 70px 40px 70px;*/
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(154, 154, 154, 0.58);
}
.aurore{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

/* PHOTOS CHAMBRE */

.bandeau-chambre{
  width: 90vw;
  height: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
/*.bandeau-chambre img{
  width: 100%;
  height: auto;
  position: absolute;
  top: -25vw;
}*/

/* VOIR PLUS */
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.button-show-more{
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  box-shadow:0px -4px 7px rgba(214, 212, 212, 0.3);
}

.button-show-more a{
  color: rgb(193, 194, 193);
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
.btn-reserver{
  position: absolute;
  right: 0;
  margin-right: 8vw;
}
.btn-cursor:hover{
  cursor: pointer;
}



@media (max-width: 900px ){
  .row{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu{
    position: static;
    width: 80vw;
  }
}
@media (max-width: 700px) {
  .chambre h1{
    text-align: center;
  }
  .chambre h2{
    text-align: center;

  }
}
