@import url("header.css");
@import url("footer.css");

/* SOULIGNE CET PAGE */
.menu-list li:first-child a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/*----------*/
/*   BODY   */
/*----------*/
.body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* CARROUSSEL */
.carrousel-bg{
  width: 100vw;
  height:40vw;
  /*margin-bottom: 40px;*/
  margin-top: -5vw;;
  /*background-color: white;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrousel{
  width: 100vw;
  height: 35vw;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}

/* DESCRIPTION */
.description{
  display: flex;
  margin: 3vw 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 90vw;
  color: rgb(145, 145, 145);
  background-color: white;
  box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.48);
}
.description h1{
  color: rgb(101, 112, 86);
  margin-top: 3vw;
  font-weight: 500;
  width: 90%;
  float: left;
  font-family: 'Didot', serif;
  font-weight: bold;

}
.description p{
  text-align: justify;
  margin: 60px 0;
  color: rgba(101, 112, 86, 0.66);
  font-weight: 300;
  width: 90%;
}
/* LA CITE MEDIEVALE */

.medieval{
  display: flex;
  /*margin: 1vw 0;*/
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 90vw;
  color: rgb(145, 145, 145);
  background-color: white;
  box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.48);

}
.medieval h1{
  font-family: 'Didot', serif;
  font-weight: bold;
  text-align: right;
  margin-top: 2vw;
}
.medieval-img-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2vw;
}
.medieval-img{
  min-width: 20vw;
  min-height: 20vw;
  background-color: white;
  /*border: 1px solid white;*/
  margin: 2vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(154, 154, 154, 0.58);
}
.medieval1{
  background-image: url("../photos/medieval/medieval1.jpg");
}
.medieval2{
  background-image: url("../photos/medieval/medieval2.jpg");
  background-position: left;
}
.medieval3{
  background-image: url("../photos/medieval/medieval3.jpg");
  background-position: left;
}
.medieval4{
  background-image: url("../photos/medieval/medieval4.jpg");
}
.medieval5{
  background-image: url("../photos/medieval/medieval5.jpg");
}

@media  (max-width: 900px) {
  .header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu{
    position: static;
    width: 80vw;
  }
}
