*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
@font-face {
  font-family: "Didot";
  src: url('font/ufonts.com_didotlh-romanosf-opentype.otf');
}
html{
  background-color: rgb(67, 70, 84);
}
body{
  background-image: linear-gradient(rgba(245, 242, 226, 0.7),rgba(245, 242, 226, 0.7)), url('../img/texture-bg.png');
}
.body{
  height: auto;
}
/*--------*/
/* HEADER */
/*--------*/


.header{
  display: flex;
  height: 15vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}
/* LOGO */
.logo-box{
  height: 10vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* MENU */
.menu{
  width: 60vw;
  display: flex;
  position: relative;
  bottom: 10px;
}
.menu-list{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-list a{
  color: rgb(131, 130, 116);
  font-size: 1.7vw;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  font-family:'Quicksand', sans-serif;
  position: relative;
  text-align: center;
}
.menu-list a:hover{
  border-bottom: 1px solid rgb(131, 130, 116);
}
/* SOULIGNE CET PAGE */
.menu-list li:first-child a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/*----------*/
/*   BODY   */
/*----------*/

/* CARROUSSEL */
.carrousel-bg{
  width: 100vw;
  height:40vw;
  margin-bottom: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}
.carrousel{
  width: 100vw;
  height: 35vw;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}

/* DESCRIPTION */
.description{
  background-image: linear-gradient(rgba(245, 242, 226, 0.7),rgba(245, 242, 226, 0.7)), url('../img/texture-bg.png');;
  padding: 40px 100px;
}
.description h1{
  color: rgb(101, 112, 86);
  font-weight: 500;
  width: 100%;
  float: left;
  font-family: 'Didot', serif;
  font-weight: bold;
}
.description p{
  text-align: justify;
  margin: 60px 0;
  color: rgba(101, 112, 86, 0.66);
  font-weight: 300;
}
/* LA CITE MEDIEVALE */

.medieval{
  padding: 30px 100px;
  color: white;
  background-image:
  linear-gradient(rgba(185, 200, 140, 0.5), rgba(185, 200, 140, 0.5)),
  url('../img/texture-bg.png');
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}
.medieval h1{
  font-family: 'Didot', serif;
  font-weight: bold;
  text-align: right;
}
/* FEEDBACK */
.feedback-box{
  padding: 30px 30px;
  background-image:
  linear-gradient(rgba(147, 200, 140, 0.5), rgba(147, 200, 140, 0.5)),
  url('../img/texture-bg.png');
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}
.row{
  display: flex;
  margin: 30px 0;
  justify-content: space-around;
}
.feedback-box h3{
  font-size: 40px;
  font-weight: 300;
  color: white;
  width: auto;
  text-align: center;
  font-family: 'Didot', serif;
  font-weight: bold;
}

.feedback{
  width: 20vw;
  height: 20vw;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.68);
}
.feedback p{
  color:rgb(191, 191, 191);
  font-size: 15px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-weight: 300;
  font-family:'Quicksand', sans-serif;
}
.feedback h4{
  color:rgb(140, 140, 140);
  font-size: 15px;
  padding-top: 30px;
  padding-left: 30px;
  font-family:'Quicksand', sans-serif;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
}
.footer-infos{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px;
}
.footer-infos h3{
  color: rgb(131, 130, 116);
  font-weight: 300;
  padding-top: 10px;
}
.footer-logo{
  padding: 40px 30px;
}
/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-infos{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px;
}
.footer-infos h3{
  color: rgb(131, 130, 116);
  font-weight: 300;
  padding-top: 10px;
}
.footer-logo{
  padding: 40px 30px;
}
