@import url("header.css");
@import url("footer.css");

/* SOULIGNE CET PAGE */
.menu-list li:last-child a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/* BODY */
.body{
  display: flex;
  justify-content: space-around;
  align-items:  flex-start;
}
.container{
  display: flex;
  margin: 1vw 0;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 90vw;
  height: 60vw;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.48);
}
.prix-chambre{
  /*padding: 1vw;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
  height: 90%;
}
.chambre{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.container p, h3, label, input, textarea{
  color: rgb(145, 145, 145);
}
.chambre h3{
  font-weight: 100;
}
.infos-res{
  margin-left: 1vw;
  max-width: 15vw;;
}
.infos-res p{
  font-weight: 100;
  font-size: 15px;
  overflow: visible;
  max-width: 100%;
}
.img-res{
  width: 10vw;
  margin-right: 5px;
}
.image-carre{
  overflow: hidden;
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.43);
}
.image-carre img{
  width: auto;
  height: 100%;
}
.reservation{
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;

}
.infos-client{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.infos{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*margin: 5px 0 5px 0;*/
}
.date-io{
  display: flex;
  flex-direction: column;
}
.date-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-row p{
  font-size: 12px;
  margin-right: 10px;
}
.client-msg{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.client-msg textarea{
  border: 1px solid rgb(145, 145, 145);
  border-radius: 2px;
}
.send-button{
  height: 30px;
  width: 100px;
  border: 1px solid rgb(145, 145, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.send-button:active{
  background-color: rgb(145, 145, 145);
}
.send-button:active a{
  color: white;
}
.send-button a{
  color: rgb(145, 145, 145);
  text-decoration: none;
  cursor: pointer;
}
select{
  width: 10vw;
  height: 2vw;
}
@media (max-width: 900px) {
  .header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu{
    position: static;
    width: 80vw;
  }
}
@media (max-width: 950px){
  .infos{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .date-row{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .date-row{
    margin-right: none;
  }
}
