@import url('../css/header.css');
@import url('../css/footer.css');

/* SOULIGNE CET PAGE */
.menu-list li:nth-child(2) a{
  border-bottom: 1px solid rgb(131, 130, 116);
}

/* BODY */

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.48);
}

.braque{
  background: url("../photos/chambres/chambre4/DSCN6784.JPG");
  background-position:  bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.chagall{
  background: url("../photos/chambres/chambre3/IMG_2176.JPG");
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cezanne{
  background: url("../photos/chambres/chambre1/FullSizeRender (004).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*INFOS CHAMBRE*/

.infos-chambre{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  top: -20vw;
}

/* BANDEAU CHAMBRE */

.bandeau-chambre{
  width: 90vw;
  height: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.bandeau-chambre img{
  width: 100%;
  height: auto;
  position: absolute;
}
/* NOM CHAMBRES */
.infos-chambre h1{
  color: white;
  font-weight: 300;
  font-size: 50px;
}
.infos-chambre h2{
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.descro-chambre{
  width: 80%;
  padding: 0 2vw 0 0vw;
  margin-bottom: 1vw;
  color: rgb(145, 145, 145);
  font-weight: 200;
}
.descro-chambre:nth-child(2){
  margin-bottom: 4vw;
}
.aurore{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}
.infos{
  padding: 5vw 0;
}
.img-container{
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;
  align-items: flex-end;
}
.portrait img{
  width: 20vw;
}
.landscape img{
  height: 20vw;
}
.rotation90{
  transform: rotate(180deg);
}
.btn-reserve{
  height: 30px;
  width: 100px;
  /*border: 1px solid rgb(145, 145, 145);*/
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 30px 0 -70px 0;
}
.btn-reserve a{
  color: rgb(145, 145, 145);
  text-decoration: none;
  cursor: pointer;
}
.btn-reserve:active{
  background-color: rgb(145, 145, 145);
}
.btn-reserve:active a{
  color: white;
}

@media (max-width: 900px ){
  .row{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .menu{
    position: static;
    width: 80vw;
  }
}
@media (max-width: 700px) {
  .chambre h1{
    text-align: center;
  }
  .chambre h2{
    text-align: center;

  }
}
